*{
    margin:0% ;
    padding: 0%;
    color: #fff;
    overflow-x: hidden;
}
html,body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color:rgba(120, 150, 20, 0.596);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color:rgba(120, 150, 20, 0.322);
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}
#nav{
    height: 145px;
    width:100%;
  
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap:50px ;
    position: fixed;
    justify-content: flex-start;
    z-index: 99; 
}
#nav img{
  height: 75px;
}
#nav h4{
   text-transform:uppercase;
   font-weight:lighter;
}video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.323);
} 
#page1{
   height: 100vh;
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   z-index: 10;
}
#page1 #arrow{
    height: 200px;
    width: 200px;
    background-color:transparent;
    position: absolute;
    border: 2px solid #61a319;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease 0.5s;
    left: -3%;
    bottom: 0%;
}
#page1 #arrow:hover{
    scale: 0.4;
    background-color: yellowgreen;
}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100 ;
    /* color: aliceblue; */
    
}
#page1 h1{
    font-size:140px;
    font-weight: bolder;
    position: relative;
    
}
#page1 h1::before{
  content: "Cricket.Food.Friends";
  position: absolute;
  color: black;
  top: -6px;
  left: -6px;
  -webkit-text-stroke:2px rgba(120, 150, 20, 0.596) ;
  z-index: -1;
}
#page1 h2{
    font-size: 35px;
    font-weight: bold;
   margin-bottom:10px;

}
#page1 p{
    font-size: 22px;
    font-weight: lighter;
    width: 40%;
}
#page2{
   min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
  /* background-color: red;*/
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:hidden ;
    position:relative;
    z-index: 10;
    
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
    animation-name:scroll ;
    animation-duration:30s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;

}

    

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy ;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px rgba(120, 150, 20, 0.596) ;
}
#scroller h4:hover{
    color:rgba(181, 220, 54, 0.596)  ;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#about-us{
    height: 40vh;
    width: 100%;
   /* background-color: purple;*/
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 22px;
    object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 45px;
    font-weight: 800;
    margin-bottom:35px;
}
#about-us-in p{
    font-size: 20px;
    line-height: 26px;
}
#cards-container{
     
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 70px;
    position: relative;
    z-index: 10;
    
}
.card{
    height: 80%;
    width: 24%;
    
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  overflow: hidden;
  transition: all ease 0.5s;
    

    
}
#card1{
    background-image: url(./Screenshot\ 2024-11-17\ 093823.png);
}
#card2{
    background-image: url(./Screenshot\ 2024-11-17\ 094425.png);
}
#card3{
    background-image: url(./Screenshot\ 2024-11-17\ 094613.png);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color:yellowgreen;
    padding: 20px;
    padding-top: 60px;
    opacity: 0;transition: all ease 0.5s;

} 
.overlay h4{
   color: black;
   font-size: 35px;
   text-transform: uppercase;
   font-weight: bold;
   white-space: nowrap;
   
}
.overlay p{
    color: black;
    padding-right: 35px;
    font-size: 18px;
    padding-top: 10px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform:rotate3d(-1,1,0,20deg);
}
#green-div{
    height:30vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    background: linear-gradient(to left bottom,rgb(188, 241, 80),#106b3b);
}
#green-div h4{
   width: 45%;
   line-height: 50px;
   font-size: 28px;
   text-align: center;
   text-transform: uppercase;
   color: black;
   font-weight:800 
}
#green-div img{
    height: 100%;
    width:12%;
    object-fit: cover;

}
#page3{
    width: 100%;
    height: 100vh;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3 p{
    font-size: 33px;
    font-weight: bold;
    width: 55%;
    line-height: 47px;
    text-align: center;
    color:white;
}
#page3 img{
    height: 75px;
    width:80px;
    position: absolute;
}
#colon1{
    top: 27%;
    bottom: 0;
    left: 14%;

}
#colon2{
    top:61%;
    left:80%;
}
#page4{
    height:50vh;
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
    object-fit: cover;
    position: relative;
}

.elem{
    height:70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    
}
.elem h2{
    height:100%;
    width:100%;
    background-color:yellowgreen;
    display: flex;
    font-size: 55px;
    align-items: center;
    color: black;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
    
}
 .elem img{
  height: 100%;
  width: 100%;
  justify-content: space-between;
  object-fit: cover;
  scale:1.1
} 
.elem h2:hover{
    color: white;
    background-color: transparent;
}
.elem:hover h2{
    scale:1;
}
#page4 h1{
   font-size: 90px;
   position: absolute; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   top:-3%;
   font-weight: 900;
   color:transparent;
   -webkit-text-stroke:2px white;

}
#footer{
    height: 45vh;
    width: 100%;
    background:linear-gradient(to left bottom,rgb(188, 241, 80),#106b3b);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer img{
    height: 15vh;
    width: 100%;
    justify-content: center;
    
}
#footer #list1 ul li{
    font-size:45px;
    color:black;
    list-style-type:none;
    white-space:nowrap;
    align-items: center;
}
#footer #list2 ul li{
    font-size:45px;
    color:black;
    list-style-type:none;
    white-space:nowrap;
    align-items: center;
}
#footer #add h3{
    font-size: 25px;
    color: black;
    align-items: center;
    
    font-weight: 200;
}
#footer #add h2{
    color: black;
font-weight:600     ;
}
